body {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fefbee;
}

#wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}



/* Top Navigation Bar */
.nvaBar {
    background-color: #fefbee;
    padding: 0em 0.8em 0em 1.6em;
    overflow: hidden;
    position: relative;
}

.navTitle {    
    width: 50%;
    float: left;
    display:flex;
    align-items:center;  
}

.logo {
    background-image: url(../image/logo.png);
    width: 45px;
    height: 45px;
}

h2 {
    color: #37302d;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px rgb(255, 255, 255);
    transform: scale(1,0.9);
    letter-spacing: -1.5px;
    padding-left: 0.6rem;
}

.navbarUI {    
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    list-style: none;
    justify-content:space-between; 
    float: right; 
    padding-top: 0.7rem;
}

.navbar-li {
    padding: 0 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: #37302d;
    transform: scale(1,0.9);
    letter-spacing: -1px;
    font-weight: bolder;
    text-shadow: 2px 2px rgb(255, 255, 255);
}

.navbar-li a {
    color:#37302d; 
    text-decoration:none;
}

.navbar-li a:hover {
    color: rgb(125, 125, 125);
}

.navbar-li a.active {
    color: #df613a;
    border-bottom: 1px solid #df613a;
}



/* Banner */
.banner {
    background-image: url(../image/img02.jpg);
    background-repeat: repeat-x;
    position: relative;
    height: 201px;
}

.bannerImg {
    padding: 0.2em 3em 1em 1.8em;
    background-image: url(../image/img01.jpg);
    background-repeat: no-repeat;
    height: 201px;
}

.bannerH2 {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px rgb(0, 0, 0);
    transform: scale(1,0.9);
    letter-spacing: -1.5px;
    margin-top: 4.5rem;
    float: right;
}



/* StaffPassword Box */
.staffBox {
    position: relative;
    margin: 2rem 0;
}

.stffBoxIN {
    margin: 0 auto;
}

.staffBoxFontBox {
    padding-left: 2rem;
    color: #37302d;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: scale(1,0.9);
    letter-spacing: -1px;
}

.staffBoxFontBoxUl {
    list-style: none;
    margin-left: -2.4em;
}

.staffBoxFontBoxLi {
    padding-bottom: 0.5em; 
    font-size: 15px; 
}

.stPW {
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #ffffff;
}

input {
    padding: 0.5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    box-shadow: gray 0.5px 0.5px 1px;
}

input[type="submit"] {
    padding: 7.5px 15px;
    background: #df613a;
    cursor: pointer;
    border-radius: 0.5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px rgb(80, 80, 80);
    color: white;
    font-size: 14px;
}

input:hover[type="submit"] {
    padding: 7.5px 15px;
    background: #eb6f49;
    cursor: pointer;
    border-radius: 0.5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px rgb(80, 80, 80);
    color: white;
    font-size: 14px;
}



/* Customer */
.userBox {
    position: relative;
    padding: 1rem 0 0 0.5em;
}

.userA {
    background-color: #df613a;
    color: white;
    padding: 0.8em 1.2em;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 0.5rem;
    box-shadow: gray 1px 1px 2px;
    text-shadow: 1px 1px 1px rgb(80, 80, 80);
    margin-left: 1.5rem;
    font-size: 17px;
}

.userA:hover {
    background: #cf5e3b;
}

.profileBox {
    padding: 2rem;
}

.profile-out {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 8px 0 7px 0;  
}

.profile-in {
    width: 80%;
    margin: 0 auto;
    background: #767777;
    color: white;
    padding:  8px 0 7px 0;
    border-radius: 1em;
}
  
.profile {
    width: 90%;
    margin: auto;
}

.user-photo {
    width: 100px; 
    border-radius: 50%;
    border: rgba(255, 255, 255, 0.434) 2px solid;
    margin: auto;
}

.user-photo img {
    border-radius: 50%;
    border: 3px solid #767777;
}
  
p{
    font-size: 12px;
}



/* Footer */
#footer {
    position: absolute;
    background-color: #807c5e;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
}

#footerP {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: scale(1,0.9);
    color: white;
    text-align: center;
}



/* Menu */
.menuBox {
    margin: 0 1.5rem;
    padding-bottom: 3rem;
}

.menuNav {
    padding-bottom: 1rem;    
    list-style: none;
    margin-bottom: 4rem;
    margin-left: -1.8rem;
}

.menuNav li {
    float: left;
    border-radius: 0.3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -0.5px;
    border-radius: 0.3rem;
    margin-right: 1rem;
    cursor: pointer;
    font-size: 16px;
    padding:15px;
    background-color:#d6d1a6;
    color: black;
}

.menuNav li:hover {
    cursor: pointer;
    background-color: #807c5e;
}

.menuNav li.active {
    background-color:#666662 !important;
    color: white !important;
}

.menuNav li a {
    text-decoration: none;
    color: black;
}

.active{
    /* display:block !important;   */
    color: white;
}

.active a {
    background-color:#666662;
    color: white;
}

.menuContentBox {
    margin: 0 0.7rem;
}

.menuContent {
    display: flex;
}
  
.content {
    padding: 0.7rem;
    width: 180px;
    background-color: white;
    border: solid 1px #979797;
    margin-right: 1.5rem;
    display: none;
    color: black;
}

.content.active {
    display: block;
}





/* Select quantity */
.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter input {
    width: 18px;
    border: 0;
    line-height: 10px;
    font-size: 15px;
    text-align: center;
    background: #0052cc;
    color: #fff;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 35px;
    padding: 0 10px;
    cursor: pointer;
    color: #0052cc;
    user-select: none;
}








/* Go to top */
p#back-to-top{
    position:fixed;
    bottom:100px;
    right:80px;
}

p#back-to-top a{
    text-align:center;
    text-decoration:none;
    color:#d1d1d1;
    display:block;
    width:30px;
}

p#back-to-top a:hover{
    color:#979797;
}

p#back-to-top a span{
    background: url(../image/arrow_up.png) no-repeat center center;
    border-radius:6px;
    display:block;
    height:30px;
    width:30px;
    margin-bottom:5px;
}

#back-to-top a:hover span{
    background: url(../image/arrow_up.png) no-repeat center center;
}