body {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}



/* Top Navigation Bar */
.nvaBar {
    background-color: rgb(145, 12, 12);
    padding: 0.1em 0.8em 0.1em 1.8em;
    overflow: hidden;
    position: relative;
}

.navTitle {    
    width: 40%;
    float: left;
    display: block;
}

h2 {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px rgba(26, 26, 26, 0.673);
}

.navbarUI {    
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    list-style: none;
    justify-content:space-between; 
    float: right; 
    padding-top: 0.5rem;
}

.navbar-li {
    padding: 0 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px rgba(84, 84, 84, 0.612);
}

.nav-link {
    color:#fff;
    text-decoration:none;
}

.nav-link:hover {
    color: rgb(125, 125, 125);
}

.nav-link:active {
    color: rgb(125, 125, 125);
}



/* StaffPassword Box */
.staffBox {
    background-image: url(../image/img02.jpg);
    background-repeat: repeat-x;
    position: relative;
}

.staffBoxImg {
    padding: 0.2em 3em 1em 1.8em;
    background-image: url(../image/img01.jpg);
    background-repeat: no-repeat;
}

.staffBoxFontBox {
    width: 55%;
    margin: auto;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.staffBoxFontBoxUl {
    list-style: none;
    margin-left: -2.4em;
}

.staffBoxFontBoxLi {
padding-bottom: 0.5em;
    
}

.stPW {
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #000000;
}

input {
    padding: 0.5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-width: 2px solid;
    font-size: 14px;
}

input[type="submit"] {
    padding: 6px 15px;
    background: #ffc400;
    cursor: pointer;
    border-radius: 0.6em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px white;
    color: black;
    font-size: 14px;
}

input:hover[type="submit"] {
    padding: 6px 15px;
    background: #ffb700;
    cursor: pointer;
    border-radius: 0.6em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px white;
    color: black;
    font-size: 14px;
}



/* Customer */
.userBox {
    position: relative;
    padding: 1rem 0 0 0.5em;
}

.userA {
    background-color: rgb(145, 12, 12);
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 0.5rem;
    box-shadow: gray 1px 1px 2px;
    text-shadow: 1px 1px rgba(74, 74, 74, 0.55);
    margin-left: 1.5rem;;
}

.userA:hover {
    color: pink;
}

.profileBox {
    padding: 2rem;
}

.profile-out {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 8px 0 7px 0;  
}

.profile-in {
    width: 80%;
    margin: 0 auto;
    background: #767777;
    color: white;
    padding:  8px 0 7px 0;
    border-radius: 1em;
}
  
.profile {
    width: 90%;
    margin: auto;
}

.user-photo {
    width: 100px; 
    border-radius: 50%;
    border: rgba(255, 255, 255, 0.434) 2px solid;
    margin: auto;
}

.user-photo img {
    border-radius: 50%;
    border: 3px solid #767777;
}
  
p{
    font-size: 12px;
}

