body {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
}



/* Title Bar */
.titleBar {
    background-color: rgb(145, 12, 12);
    padding: 0.1em 1.8em;
}

h2 {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* StaffPassword Bar */
.staffBox {
    background-image: url(../image/img02.jpg);
    background-repeat: repeat-x;
}

.staffBoxImg {
    padding: 0.2em 3em 8em 1.8em;
    background-image: url(../image/img01.jpg);
    background-repeat: no-repeat;
}

.staffBoxFontBox {
    width: 55%;
    margin: auto;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.staffBoxFontBoxUl {
    list-style: none;
}

.staffBoxFontBoxLi {
    padding-bottom: 0.5em;
}

.stPW {
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #000000;
}

input {
    padding: 0.5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-width: 2px solid;
    font-size: 14px;
}

input[type="submit"] {
    padding: 6px 15px;
    background: #ffc400;
    cursor: pointer;
    border-radius: 0.6em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px white;
    color: black;
    font-size: 14px;
}

input:hover[type="submit"] {
    padding: 6px 15px;
    background: #ffb700;
    cursor: pointer;
    border-radius: 0.6em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px white;
    color: black;
    font-size: 14px;
}



/* User */
.profile-out {
    max-width: 210px;
    margin: 0 auto;
    text-align: center;
    padding: 8px 0 7px 0;   
  }

.profile-in {
    width: 80%;
    margin: 0 auto;
    background: #767777;
    color: white;
    padding:  8px 0 7px 0;
    border-radius: 1em;
  }
  
.profile {
    width: 90%;
    margin: auto;
  }

  /* .user-photo {
    width: 100px; 
    border-radius: 10%;
    margin: auto;
  } */

.user-photo img {
    border-radius: 50%;
    border: 3px solid #767777;
  }
  
p{
    font-size: 12px;
  }