/* -- Banner -- */
.bannerSurvey {
    background-image: url(../image/bg.png);
    background-color: #807c5e;
    height: 250px;
    display: flex;
}

.bannerSurveyFontBox {
    width: 70%;
    float: left;
    margin-left: 2rem;
}

.bannerSurveyFontBox h1 {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px rgb(0, 0, 0);
    transform: scale(1,0.9);
    letter-spacing: -0.7px;
    margin-top: 4rem;
}

.bannerSurveyFontBox p{
    font-size: 16px;
    color: white;
    letter-spacing: -0.3px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bannerSurveyImgBox {   
    margin-top: 3rem;
    float: right;
}


.bannerSurveyImg {
    background-image: url(../image/survey.png);
    width: 203px;
    height: 267px;
    background-repeat: no-repeat;
    border-radius: 5px;
}




/* -- Form --*/
.formBox {
    margin: 1.3rem 2rem 5rem 1.3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

.row {
    margin-left: 2rem;
    padding-bottom: 1.8rem;
    font-size: 14px;
    line-height: 2.5rem;
}

.form-inline {
    line-height: 1rem;
}
.form-inline label {
    padding-right: 2rem;
    margin-left: 1.5rem;
}

/* .userInfo {
    padding-top: 2rem;
   
}

.userInfo input {
    margin-right: 5rem;
} */ 

.form-inline textarea {
    width: 450px;
    height: 120px;
}